html {
  font-size: 2rem;
}

.units-wrap {
  font-size: 3rem;
}

.px {
  font-size: 16px;
}

.em {
  font-size: 1em;
}

.rem {
  font-size: 1rem;
}

.box--vw {
  width: 15vw;
  height: 15vw;
}

.box--vh {
  width: 15vh;
  height: 15vh;
}

.box--vmin {
  width: 15vmin;
  height: 15vmin;
}

.box--vmax {
  width: 15vmax;
  height: 15vmax;
}

.cq-container {
  container-type: size;
  width: 10rem;
  height: 10rem;
  border: 0.25rem dashed #ccc;
}

.box--cqi {
  width: 40cqi;
  height: 40cqi;
}

.box--cqb {
  width: 40cqb;
  height: 40cqb;
}

.box--cqmin {
  width: 40cqmin;
  height: 40cqmin;
}

.box--cqmax {
  width: 40cqmax;
  height: 40cqmax;
}

.responsive-heading {
  font-size: clamp(1.602rem, 5vw, 3.157rem);
}
